.cart {
  padding: 0 10rem;
  display: flex;
  gap: 6rem;
}

.cart .cart-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
}

@media only screen and (max-width: 480px) {
  .cart {
    padding: 0 1rem;
    gap: 1rem;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .cart {
    padding: 0 3rem;
    gap: 2rem;
    flex-direction: column-reverse;
  }
}
